*{
  margin: 0;
  padding: 0;
}

html{
  /* background-color: #F29F05; */
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
}

#principal{
  background-color: #172140;
  position: relative;
  width: 70vw;
  height: 100vh;
  overflow: hidden;
}

#imagen{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/* #linea{
  display: block;
  width: 100vw;
  height: 100vh;
  border: 1px solid white;
} */