*{
  margin: 0;
  padding: 0;
}

html{
  /* background-color: #F29F05; */
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3em;
}

#principal{
  background-color: #172140;
}

form{
  background-color: #1C4AA6;
}

form input {
  /*box-shadow: 2px 2px 5px rgb(255, 255, 255);
  */
  padding: 8px;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

form select{
  padding: .2em;
  font-size: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#imagen{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/* #linea{
  display: block;
  width: 100vw;
  height: 100vh;
  border: 1px solid white;
} */